zend_extension=xdebug.so
xdebug.remote_enable={{ php_xdebug_remote_enable }}
{% if php_xdebug_remote_enable == 1 %}
  xdebug.remote_host={{ php_xdebug_remote_host }}
  xdebug.remote_port={{ php_xdebug_remote_port }}
  xdebug.remote_autostart=0
{% endif %}

