##
# Ansible provided setup.
##

##
# The default home page for people who are lost.
#
<VirtualHost *:80>
  ServerAdmin {{ apache_server_admin }}
  ServerAlias {{ apache_server_home_alias }}
  ServerName {{ server_hostname }}

  DocumentRoot {{ apache_server_home_docroot }}

  # Disallow all search engines from spidering dev sites.
  <Location "/robots.txt">
    SetHandler None
  </Location>
  Alias /robots.txt /var/www/robots.txt

  <Directory {{ apache_server_home_docroot }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
  </Directory>

</VirtualHost>
