##
# Ansible provided setup.
##

##
# This server allows a wildcard VirtualHost, so for example, going to:
#
# http://pete.training.example.com
#
# ... will set the webroot for the request to /home/pete/www/training
#
<VirtualHost *:{{ apache_port }}>
  ServerAdmin {{ apache_server_admin }}
  ServerAlias {{ apache_server_alias }}

  VirtualDocumentRoot {{ apache_server_virtual_docroot }}

  # Disallow all search engines from spidering dev sites.
  <Location "/robots.txt">
    SetHandler None
  </Location>
  Alias /robots.txt /var/www/robots.txt

  <Directory {{ apache_server_directory }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
{% if skip_server_auth == true %}
    Order allow,deny
    Allow from all
    Require all granted
{% else %}
    Order deny,allow
    Deny from all
    AuthType Basic
    AuthName "Four Kitchens Sandbox"
    AuthUserFile /etc/apache2/htpasswd
    Require valid-user
    Satisfy Any
{% endif %}
  </Directory>

</VirtualHost>
