##
# Ansible provided setup.
##

##
# This server allows a wildcard VirtualHost, so for example, going to:
#
# https://pete.training.example.com
#
# ... will set the webroot for the request to /home/pete/www/training
#
<VirtualHost *:443>
  ServerAdmin {{ apache_server_admin }}
  ServerAlias {{ apache_server_alias }}

  VirtualDocumentRoot {{ apache_server_virtual_docroot }}

  # Disallow all search engines from spidering dev sites.
  <Location "/robots.txt">
    SetHandler None
  </Location>
  Alias /robots.txt /var/www/robots.txt

  <Directory {{ apache_server_directory }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    AuthType Basic
    AuthName "Four Kitchens Sandbox"
    AuthUserFile /etc/apache2/htpasswd
    Require valid-user
    Satisfy Any
  </Directory>

  SSLEngine on
  SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>
