---
####
# PHP
#

- name: PHP | Install required packages.
  apt: pkg={{ item }} state=installed
  with_items:
    - php5-common
    - php5-dev
    - php5-cli
    - php5-curl
    - php5-fpm
    - php5-gd
    - php5-imagick
    - php5-intl
    - php5-ldap
    - php5-memcache
    - php5-mysql
    - php-soap
    - php5-xdebug
    - php5-xmlrpc
    - php5-mcrypt
    - libapache2-mod-php5
  notify:
    - restart apache
    - restart php-fpm

##
# PHP Setup.
#
- name: PHP | Create phpfpm group
  group: name=phpfpm system=yes
  notify:
    - restart php-fpm

- name: PHP | Create a user for phpfpm
  user: name=phpfpm group=phpfpm createhome=no system=yes shell=/bin/false
  notify:
    - restart php-fpm

- name: PHP | Configure php-fpm
  template: src=etc/php5/fpm/pool.d/www.conf.j2 dest=/etc/php5/fpm/pool.d/www.conf
  notify:
    - restart php-fpm

- name: PHP | CLI Config
  copy: src=etc/php5/cli/php.ini dest=/etc/php5/cli/php.ini

- name: PHP | configuration file php.ini for php-fpm
  template: src=etc/php5/fpm/php.ini.j2 dest=/etc/php5/fpm/php.ini
  notify:
    - restart php-fpm

- name: PHP | Configuration file - php.ini
  template: src=etc/php5/apache2/php.ini.j2 dest=/etc/php5/apache2/php.ini
  notify:
    - restart apache

- name: PHP OPCache | Cache configuration file - opcache.ini
  template: src=etc/php5/mods-available/opcache.ini.j2 dest=/etc/php5/mods-available/opcache.ini
  notify:
    - restart apache
    - restart php-fpm

- name: PHP XDebug | Configuration file - xdebug.ini
  template: src=etc/php5/mods-available/xdebug.ini.j2 dest=/etc/php5/mods-available/xdebug.ini
  notify:
    - restart apache
    - restart php-fpm

- name: PHP MongoDB | Looking for mongo in installed php modules
  command: pecl list | grep 'mongo' -o
  register: mongo_db_present

- name: PHP MongoDB | Install the PECL MongoDB extension
  shell: yes | pecl install mongo
  when: mongo_db_present.stdout.find('mongo') == -1

- name: PHP MongoDB | Configure PHP to use PECL MongoDB extension
  copy: src=etc/php5/mods-available/mongo.ini dest=/etc/php5/mods-available/mongo.ini

- name: PHP MongoDB | Enable PECL MongoDB extension
  file: src=/etc/php5/mods-available/mongo.ini dest=/etc/php5/apache2/conf.d/20-mongo.ini state=link
  notify:
    - restart apache

- name: PHP MongoDB | Enable PECL MongoDB extension
  file: src=/etc/php5/mods-available/mongo.ini dest=/etc/php5/fpm/conf.d/20-mongo.ini state=link
  notify:
    - restart php-fpm

- name: PHP MongoDB | Enable PECL MongoDB extension
  file: src=/etc/php5/mods-available/mongo.ini dest=/etc/php5/cli/conf.d/20-mongo.ini state=link

##
# xhprof installation
#
- name: PHP XhProf | Clear out xhprof tmp install if it exists
  file: path=/tmp/xhprof-master state=absent

- name: PHP XhProf | Get xhprof from facebook
  get_url: url=https://github.com/facebook/xhprof/archive/master.zip dest=/tmp/master.zip force=yes

- name: PHP XhProf | Unzip -o master.zip
  shell: unzip -o master.zip chdir=/tmp

- name: PHP XhProf | Compile XhProf so that this is php 5.4 ready
  shell: phpize chdir=/tmp/xhprof-master/extension/

- name: PHP XhProf | Configure XhProf
  shell: ./configure chdir=/tmp/xhprof-master/extension/

- name: PHP XhProf | Make XhProf
  shell: make chdir=/tmp/xhprof-master/extension/

- name: PHP XhProf | install xhprof
  shell: make install chdir=/tmp/xhprof-master/extension/

- name: PHP XhProf | Configure PHP to use Compile xhprof extension
  copy: src=etc/php5/mods-available/xhprof.ini dest=/etc/php5/mods-available/xhprof.ini

- name: PHP XhProf | Enable PECL XhProf extension
  file: src=/etc/php5/mods-available/xhprof.ini dest=/etc/php5/apache2/conf.d/20-xhprof.ini state=link
  notify:
    - restart apache

- name: PHP XhProf | Enable PECL XhProf extension
  file: src=/etc/php5/mods-available/xhprof.ini dest=/etc/php5/fpm/conf.d/20-xhprof.ini state=link
  notify:
    - restart php-fpm

- name: PHP XhProf | Enable PECL XhProf extension
  file: src=/etc/php5/mods-available/xhprof.ini dest=/etc/php5/cli/conf.d/20-xhprof.ini state=link

- name: PHP XhProf | Adding xhprof temp dir
  file: path=/var/tmp/xhprof state=directory mode=0777

###
# Install Composer
#

- name: download composer installer
  get_url: url=https://getcomposer.org/installer
    dest=/tmp/composer-installer.php
    mode=0755

- name: run composer installer
  command: /usr/bin/php composer-installer.php
    chdir=/tmp
    creates=/tmp/composer.phar

- name: copy composer in place
  sudo: true
  command: /bin/cp /tmp/composer.phar /usr/local/bin/composer
    creates=/usr/local/bin/composer
